html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/park.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#menu {
  padding-top: 70px;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 2%;
}

label {
  font-size: 1.5em;
}
