<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Park-Ometer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style2.css">
  </head>
  <body>
    <div class="ui inverted segment">
      <div class="ui container">
        <div class="ui inverted massive secondary pointing menu">
          <a class="item" href="/">
            Park-Ometer
          </a>
          <a class="item" href="/parks">
            National Parks!
          </a>
          <div class="right menu">
            <a class="ui right active item" href="/contact">
              Contact us
            </a>
            <a class="ui right item">
              <img class="ui avatar image" src="../static/img/icons/steve.jpg" title="Steve Jobes">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container third">
            <div class="ui container">
              <div class="ui grid">
                <div class="ui five wide column">
                  <div class="ui card">
                    <div class="image">
                      <img src="../static/img/icons/002-cowboy.png">
                    </div>
                    <div class="content">
                      <a class="header">Rafa Broseghini</a>
                      <div class="meta">
                        <span class="date">Joined in 2018</span>
                      </div>
                      <div class="description">
                        Rafa is a Computer Science & Data Science Major at Luther College.
                      </div>
                    </div>
                    <div class="extra content">
                      <a href="https://github.com/RafaelBroseghini">
                        <i class="github icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="ui five wide column">
                  <div class="ui card">
                    <div class="content">
                      <div class="header">Park-Ometer</div>
                      <div class="meta">3 days ago</div>
                      <div class="ui list">
                        <div class="item">
                          <i class="folder icon"></i>
                          <div class="content">
                            <div class="header">static</div>
                            <div class="description">Source static files for project</div>
                            <div class="list">
                              <div class="item">
                                <i class="folder icon"></i>
                                <div class="content">
                                  <div class="header">css</div>
                                  <div class="description">CSS files</div>
                                </div>
                              </div>
                              <div class="item">
                                <i class="folder icon"></i>
                                <div class="content">
                                  <div class="header">img</div>
                                  <div class="description">jpg/png files</div>
                                </div>
                              </div>
                              <div class="item">
                                <i class="folder icon"></i>
                                <div class="content">
                                  <div class="header">js</div>
                                  <div class="description">Js files</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <i class="folder icon"></i>
                          <div class="content">
                            <div class="header">templates</div>
                            <div class="description">Compiled HTML files</div>
                            <div class="list">
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <i class="file icon"></i>
                          <div class="content">
                            <div class="header">README.md</div>
                            <div class="description">README.md file</div>
                          </div>
                        </div>
                        <div class="item">
                          <i class="file icon"></i>
                          <div class="content">
                            <div class="header">parkOmeter.py</div>
                            <div class="description">python3 file that runs Flask server</div>
                          </div>
                        </div>
                        <div class="item">
                          <a href="https://github.com/RafaelBroseghini/Park-Ometer">
                          <div class="ui fluid positive button">
                            Contribute!
                          </div>
                        </a>
                        </div>
                      </div>
                    </div>
                    <div class="extra content">
                      <i class="fas fa-code-branch"></i>
                      6,753 Forks
                    </div>
                  </div>
                </div>
                <div class="ui five wide column">
                  <div class="ui card">
                    <div class="image">
                      <img src="../static/img/icons/001-diver.png">
                    </div>
                    <div class="content">
                      <a class="header">Alexander Lapinski</a>
                      <div class="meta">
                        <span class="date">Joined in 2018</span>
                      </div>
                      <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                      </div>
                    </div>
                    <div class="extra content">
                      <a href="#">
                        <i class="github icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </body>
</html>
