<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Park-Ometer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="ui inverted segment">
      <div class="ui container">
        <div class="ui inverted massive secondary pointing menu">
          <a class="active item" href="/">
            Park-Ometer
          </a>
          <a class="item" href="/parks">
            National Parks!
          </a>
          <div class="right menu">
            <a class="ui right item" href="/contact">
              Contact us
            </a>
          </div>
        </div>
      </div>
  </div>
    <div class="ui container second">
      <div class="ui center aligned grid">
        <div class="four wide column">
        </div>
        <div class="eight wide column">
          <div class="landing">
            <h1>Park-Ometer</h1>
            <p>This is how we park!<span></p>
          </div>
        </div>
        <div class="four wide column">
        </div>
      </div>
  </div>
  <script type="text/javascript" src="../static/js/background.js"></script>
  </body>
</html>
